@font-face {
    font-family: aldrich;
    src: url(../fonts/aldrich/Aldrich-Regular.woff);
    font-weight: bold;
  }

  @font-face {
    font-family: digital-numbers;
    src: url(../fonts/fontFaceDigital/DigitalNumbers-Regular.woff);
    font-weight: bold;
  }  

  @font-face {
    font-family: dongle;
    src: url(../fonts/dongle/Dongle-Regular.ttf);
  } 



body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100% !important;
    min-width: 100% !important;
    background-color: #D9D9D9;

}

#pageOne{
    margin-left: 3vw;
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}


h1{
    font-family: aldrich;
    z-index: 100;
    font-size: 4em;
    color: #1F504D;
    margin: 7vw 0 9vw 4vw;
    line-height: 0.9em;
}

h2{
    font-family: digital-numbers;
    z-index: 100;
    font-size: 1.3em;
    color: #2C1AFF;
    margin: 0 0 2vh 4vw;

}

.textBox{
    width: 90vw;
    border: 0.2em solid #FC79FF;
    margin: 0 auto;
}

.textBox p{
    font-family: dongle;
    font-size: 1.8em;
    line-height: 0.9em;
}

.statement{
    padding: 3vw 5vw 3vw 5vw;
    color: #1F504D;
}

.funding{
    padding: 0.1vw 0 0 5vw;
    color: #FC79FF;
}

.arrow{
    margin: 0 auto;
    width: 30vw;
    display: none;

}

.arrow img{
    width: 8vw;
}

.bgGroup {
    position: absolute;
    top: -30vw;
    left: -30vw;
    width: 110vw;
    background-position: center center;
    /* background-position-x: noscroll; */
    transform: skew(20deg);
    animation: 30s ease-in-out 0s infinite alternate bgMoves;
    z-index: -1;
}

.bgGroup img{
    height: 100vh;
}


@keyframes bgMoves {
    from{transform: skew(20deg);}
    to{transform: skew(0deg);}
    
}

.lineOne{
    position: absolute;
    z-index: 1000;
    top: 5vh;
    left: 0;
}

.lineOne img{
    height: 4vh;
}

.star{
    display: none;
    position: absolute;
    bottom: -16vh;
    left: -8vw;
    animation: 10s ease-in-out 0s infinite alternate starSpin;
}

.star img{
    width: 16vw;
}

@keyframes starSpin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.enter{
    font-family: aldrich;
    color: #F0FFFA;
    text-align: center;
    background-color: #2C1AFF;
    width: 90vw;
    margin: 0 auto;
    animation: 10s ease-in-out 0s infinite alternate enterButton;
  background-color: #2C1AFF;
 
  margin: 0 auto;

  box-shadow: 0px 4px 4px 0px rgba(2,0,36,0.25);


}

.enter p{
    padding: 3vh 0;
    margin-bottom: 6vh;

}

@keyframes enterButton{
    0%{background-color:#1F504D;}
    50%{background-color:#FC79FF}
    100%{background-color:#2C1AFF}
}

/* ////////////////////////////////////
page two
//////////////////////////////////// */

#pageTwo{
    height: 100vh;
    display: none;
    background-color: #5B0927;
    background-image: url(../assets/bgPgTwo.svg);
    background-size: contain;
}

.home{
    position: absolute;
    width: 13vw;
    height: 13vw;
    top: 4vw;
    right: 4vw;
    z-index: 3000;
}

.bigMenuNames{
    display: flex;
    flex-direction: column;
    padding: 3vh 0 0 5vw;
}

.bigMenuNames div{
    flex: 1;
    z-index: 100;  
    margin: 0vh 4vw 0vh 4vw;
}

.bigMenuNames h3{
    font-family: aldrich;
    font-size: 3em;
    color: white;
    /* margin: 4vw 4vw 9vh 4vw;     */
    line-height: 0.9em;
    z-index: 1000;
}

.bigMenuNames img{
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: -100;
}

#lineOne{top: 10vh;}
#lineTwo{top: 28vh;}
#lineThree{top: 49vh;}
#lineFour{top: 65vh;}
#lineFive{top: 88vh;}


/* ////////////////////////
kt ::-webkit-progress-value
/////////////////////// */

#KTPop, #rashinPop, #shawneePop, #suePop, #chelseaPop{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: 0 auto;
}

.rowOnePop{
    flex: 1;
    display: flex;
    flex-direction: row;
}

#KTPop p, #rashinPop p, #shawneePop p, #suePop p, #chelseaPop p{
    font-family: dongle;
    font-size: 1.8em;
    line-height: 0.9em;
    color: #1F504D;
}

#KTPop h4, #rashinPop h4, #shawneePop h4, #suePop h4, #chelseaPop h4{
    font-size: 3em;
    color: #2C1AFF;
    font-family: aldrich;  
    flex: 10;
    margin: 2vh 0 0 0;
}



.rowOnePop img{
    width: 13vw;
    height: 13vw;
    flex: 1;
    margin: 4vw -3vw 0 0;
}

h6{
    font-family: aldrich;
    font-size: 1.5em;
    color: #5B0927;
    margin: 4vh 0 0 0;
    line-height: 1.2em;
}

.workTitle{
    color:#2C1AFF;
}

.pronouns{
    font-size: 0.7em;
}

.view{
    font-family: aldrich;
    text-align: center;
    background-color: #2C1AFF;
    width: 85vw;
    margin: 0 auto;
    animation: 10s ease-in-out 0s infinite alternate enterButton;
    background-color: #2C1AFF;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(2,0,36,0.25);
}

span{
    color: #F0FFFA;
}


footer{
    background: rgb(31,80,77);
    background: -moz-linear-gradient(0deg, rgba(31,80,77,1) 0%, rgba(2,0,36,1) 95%);
    background: -webkit-linear-gradient(0deg, rgba(31,80,77,1) 0%, rgba(2,0,36,1) 95%);
    background: linear-gradient(0deg, rgba(31,80,77,1) 0%, rgba(2,0,36,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f504d",endColorstr="#020024",GradientType=1);
    height: 50vh;
    margin: 0vh 0 0 0;  
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.nmc {
    flex: 1;
    display: inline-block;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
}

.nmc img{
    width: 12vw;
    margin: 5vh 1vh 3vh 1vh;
}


.artistsFooter{
    flex: 2;
    color: #F0FFFA;
    text-align: center;
    font-family: dongle;
    font-size: 1.5em;
}

.artistsFooter p{
    margin: 1vh 0;
}

.footerSqig img{
    width: 200vw;
    margin-left: 0vh;
    animation: 10s ease-in-out 0s infinite alternate lineFooter;
}  

@keyframes lineFooter{
    0%{margin-left: 0vh}
    100%{margin-left: -30vh}
}





/* svg */

/***************************************************
 * Generated by SVG Artista on 11/4/2023, 12:49:27 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 1750.7694091796875px;
      stroke-dasharray: 1750.7694091796875px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1750.7694091796875px;
    }
  }
  
  .svg-elem-1 {
    animation: animate-svg-stroke-1 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
  }



@media (min-width: 768px) {
     
}

@media (min-width: 992px) {
    
    h1{
        font-size: 6em;
        margin: 7vw 0 5vw 4vw;
    }
    
    h2{
        font-size: 2em;
    }
    
    .textBox p {
    font-size: 2.8em;
    }
    
    .enter p {
    font-size: 3em;
}
}

@media (min-width: 1200px) {
    h1{
        margin: 3vw 0 3vw 4vw;
    }
    
    h2{
        font-size: 3em;
    }
}








  